body
    background-image: url(../../assets/img/other/top_bg.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position-y: top
    background-position-x: center
    padding-top: 60px
.index__start
    

.index__start
    .index__titles
        .index__titles_subtitle
            font-size: 5.1rem
            color: #494949
            font-weight: 600
            line-height: 55px
            margin: 85px 0 30px 0
        .index__titles_name
            font-size: 7.7rem
            color: #5A3A51
            font-weight: 600
            line-height: 75px
        .index__titles_btn
            margin: 85px 0 61px 0
            a
                font-size: 2rem
                color: #5A3A51
                padding: 20px 48px
                line-height: initial
                border-radius: 130px
                background-color: #fff
                display: inline-block
                text-align: center
                box-shadow: 0px 2px 4px 0 #00000045
            :hover
                background-color: #FB8585
                transition: 0.3s
                color: #fff
.logo
    display: flex
    align-items: flex-start
    justify-content: flex-end
    img
        max-width: 90%
        margin: 15% 0 0 0

.index__help
    padding: 100px 0 60px 0
    background-image: url(../../assets/img/other/green_gradient_bg.jpg)
    background-repeat: no-repeat
    background-size: cover
    .index__help_about
        .index__help_title
            font-size: 2.4rem
            font-weight: 600
            margin-bottom: 35px
            color: #5A3A51
        .index__help_list
            ul
                li
                    list-style-type: disc
                    font-size: 1.6rem
                    margin-top: 22px
                    line-height: 22px
    .index__help_phone
        position: relative
        img
            width: 100%
            object-fit: contain
            margin: 0 auto
        a
            position: absolute
            font-size: 4.1rem
            color: #5A3A51
            white-space: nowrap
            top: 47%
            transform: translate(50%, 50%)
            right: 53%
        :hover
            text-decoration: underline
            transition: 0.3s


.index__steps
    background-image: url(../../assets/img/index-page/index__doctors.jpg)
    .index__steps_block
        padding: 70px 0 20px 0
        .index__steps_title 
            color: #EBB700
            font-size: 2.4rem
            font-weight: 600
            margin-bottom: 35px
        .index__steps_list
            ul
                li
                    list-style-type: disc
                    font-size: 1.6rem
                    margin-top: 22px
                    line-height: 22px
    .index__steps_img
        position: relative
        img
            top: 30%
            position: absolute
            right: 10%


.index__doctors
    .index__doctors_block
        display: flex
        justify-content: flex-end
        margin: 20% 0 0 0
        position: relative
        padding-bottom: 80px
        .index__doctors_title
            font-size: 2.4rem
            font-weight: 600
            color: #FB8585
            margin-bottom: 35px
        .index__doctors_list
            ul
                li
                    list-style-type: disc
                    font-size: 1.6rem
                    margin-top: 22px
                    line-height: 22px
            .index__doctors_extra 
                margin-top: 22px
                font-size: 1.4rem
    .doctors_image::before
        content: ''
        background-image: url(../../assets/img/index-page/doctors.png)
        display: inline-block
        position: absolute
        left: -80%
        width: 100%
        height: 100%
        background-repeat: no-repeat


    
.business__start
    .business__start_title
        padding: 0 0 40px 0
    .title
        margin: 110px 0 30px 0
        color: #FB8585
        font-size: 2.4rem
        font-weight: 600


.benefits
    background-image: url(../../assets/img/other/bg_circle.jpg)
    padding: 60px 0
    background-size: 100%
    background-repeat: no-repeat
    .benefits_txt
        .title
            font-size: 2.4rem
            font-weight: 600
            margin-bottom: 35px
            color: #5A3A51
        ul
            li
                margin-top: 20px
                list-style-type: disc